button.delete {
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.delete:hover {
    background-color: gray;
  }